@font-face {
  font-family: 'Round';
  src: local('Round'), url('./assets/fonts/VarelaRound-Regular.ttf');
}

.App {
  background-color: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Round;
}

.App.mobile {
  background-color: #282c34;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Round;
}

.text-sm {
  color: rgba(255,255,255,0.8);
  font-size: 1vmin;
}

.text-med {
  color: rgba(255,255,255,0.8);
  font-size: 2vmin;
}

.text-lg {
  color: rgba(255,255,255,0.8);
  font-size: 3vmin;
}

.container-primary {
  background-color: rgba(255,255,255,0.1);
  border-radius: 0.5vmin;
  padding: 1vmin;
  margin: 1vmin;
}

.container-secondary {
  background-color: rgba(255,255,255,0.05);
  border-radius: 0.5vmin;
  padding: 1vmin;
  margin: 1vmin;
}

.container-transparent {
  background-color: rgba(255,255,255,0.0);
  padding: 1vmin;
}

.clickable {
  cursor: pointer;
  background-color: rgba(0, 102, 255, 0.5);
  user-select: none;
  transition: all 0.15s ease-in-out;
}

.clickable:hover {
  background-color: rgba(0, 102, 255, 0.2);
}

.active {
  opacity: 100%;
  pointer-events: auto;
}

.inactive {
  opacity: 30%;
  pointer-events: none;
  cursor: auto;
}

.center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 25vmin;
  aspect-ratio: 2.5;
  background-color: transparent;
  background-image: url('./assets/images/Logo_AirSplitter.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: 2vmin;
  animation: slideIn_Top 1s cubic-bezier(.05,1.16,.44,.97);
  animation-fill-mode: forwards;
  animation-direction: normal;
  transform: translateY(-10vmin);
  opacity: 0;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 15vmin;
  background-color: rgba(0,0,255,0.0);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;  
}

.nav-links {
  background-color: rgba(255,0,0,0.0);
  margin-top: 2vmin;
  margin-right: 4vmin;
  height: 5vmin;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end; 
  box-sizing: border-box;
  padding: 0.5vh; 
}

.nav-route-btn {
  color: rgba(255,255,255,0.4);
  font-size: 3vmin;
  font-weight: bold;
  user-select: none;
  text-decoration: none;
  margin-right: 2vmin;
  animation: slideIn_Top 0.5s ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: normal;
  transform: translateY(-10vmin);
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.nav-route-btn.active {
  color: rgba(255,255,255,0.8);
}

.nav-route-btn:hover {
  font-size: 3.5vmin;
  color: rgba(255,255,255,0.8);
}

/* Animations */
@keyframes slideIn_Top {
  from {
    transform: translateY(-10vmin);
    opacity: 0;
  }
  to {
    transform: translateY(0vmin);
    opacity: 100%;
  }
}

@keyframes slideIn_Bottom {
  from {
    transform: translateY(10vmin);
    opacity: 0;
  }
  to {
    transform: translateY(0vmin);
    opacity: 100%;
  }
}

@keyframes slideIn_Left {
  from {
    transform: translateX(-5vmin);
    opacity: 0;
  }
  to {
    transform: translateX(0vmin);
    opacity: 100%;
  }
}

@keyframes slideIn_Right {
  from {
    transform: translateX(5vmin);
    opacity: 0;
  }
  to {
    transform: translateX(0vmin);
    opacity: 100%;
  }
}